/* variables */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto+Mono:wght@300;400;700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Roboto Mono';
  margin: 0;
  padding: 0;
}

:root {
  --green: #80e882;
  --yellow: #efe66a;
  --black: #131607;
  --grey: #7e7973;
  --white: #f3eae8;
}

.green {color: #80e882;}
.yellow {color: #efe66a;}
.black {color: #131607;}
.grey {color: #7e7973;}
.white{color: #f3eae8;}

html {
  scroll-behavior: smooth;
  background-color: #201f1e;
}

a {
  text-decoration: none;
  color: #f3eae8;
}

/* Menu */

.contenedor-header {
  background: #131607;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.contenedor-header header{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.contenedor-header header .logo a{
  font-family: 'Roboto Mono';
  font-size: 36px;
  color: #efe66a;
  text-decoration: none;
}

.contenedor-header header ul{
  display: flex;
  list-style: none;
}

.contenedor-header header nav ul li a{
  text-align: none;
  color: #f3eae8;
  margin: 0 15px;
  padding: 3px;
  transition: .5s;
  text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
  color:#efe66a 
}

.nav-responsive{
  background-color: #efe66a;
  color: #f3eae8;
  padding: 5pc 10pc;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/*Seccion de cv*/

.curriculum{
  background-color: #201f1e;
  color: #f3eae8;
  padding: 50px 20px;
}

.curriculum .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}

.curriculum h2{
  font-size: 48px;
  font-family: 'Roboto Mono';
  text-align: center;
  padding: 20px 0;
}

.curriculum .fila{
  display: flex;
  justify-content: space-between;
}

.curriculum .fila .col{
  width: 100%;
  margin: auto;
  padding: 0 20px; 
}

.curriculum .fila .col h3{
  font-size: 28px;
  font-family:'Roboto Mono';
  margin-bottom: 25px;
}

.curriculum .fila .izquierda{
  border-right: 2px solid #343b14;
}

.curriculum .fila .izquierda{
  border-left: 2px solid #343b14;
}

.curriculum .fila .item{
  padding: 25px;
  margin-bottom: 30px;
  background-color: #343b14;
  position: relative;
}

.curriculum .fila .item h4{
  color: #efe66a;
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.curriculum .fila .item .fecha{
  display: block;
  color: #efe66a;
  margin-bottom: 10px;
}
.curriculum .fila .item p {
  line-height: 24px;
  justify-content: center;
}
.curriculum .fila .izq{
  border-right: 2px solid #efe66a;
  justify-content: center;
  margin-right: 20px;
}
  

.contacto{
  background-color: #131607;
  color: #f3eae8;
  padding: 50px 20px;
}

.contacto .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}

.contacto h2{
  font-size: 48px;
  font-family: 'Roboto Mono';
  text-align: center;
  padding: 20px 0;
}

.contacto .fila{
  display: flex;
}
.contacto .col{
  width: 100%;
  padding: 10px;
  position: relative;
}

.contacto .col input, .contacto .col textarea{
  display: block;
  width: 100%;
  padding:18px;
  border: none;
  margin-bottom: 28px;
  background-color: #343b14;
  color: #f3eae8;
  font-size: 18px;
}
.contacto button{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #f3eae8;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #f3eae8;
  position: relative;
  z-index: 10;
}


.contacto button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #efe66a;
  z-index: -1;
  transition: 1s;
}
.contacto button:hover .overlay{
  width: 100%;
}

.creditos h3 {
  color: #343b14;
}
